<div class="grid grid-cols-6">
  <div class="sticky top-0 h-screen">
    <nav class="bg-[#3032D0] h-screen w-full text-center">
      <div class="text-white text-2xl font-bold pt-4">
        <h4>HMA</h4>
      </div>
      <div class="px-2">
        <div class="h-16 items-center justify-between">
          <div class="flex flex-1 flex-col items-center justify-center">
            <div class="m-6">
              <div class="flex flex-col font-light">
                <div
                  class="flex items-center justify-center flex-col ml-0 mt-4"
                >
                  <img src="../../../assets/dashboard.svg" alt="" srcset="" />
                  <button
                    (click)="others()"
                    class="text-white rounded-md text-center mx-0 mt-3 text-sm font-medium"
                    aria-current="page"
                  >
                    Dashboard
                  </button>
                </div>
                <div
                  class="flex items-center justify-center flex-col ml-0 mt-4"
                >
                  <img src="../../../assets/person.svg" alt="" srcset="" />
                  <button
                    (click)="clients()"
                    class="text-white text-center rounded-md mx-0 mt-3 text-sm font-medium"
                  >
                    Clients
                  </button>
                </div>
                <div
                  class="flex items-center justify-center flex-col ml-0 mt-4"
                >
                  <img src="../../../assets/document.svg" alt="" srcset="" />
                  <button
                    (click)="documents()"
                    class="text-white text-center rounded-md mx-0 mt-3 text-sm font-medium"
                  >
                    Documents
                  </button>
                </div>
                <div
                  class="flex items-center justify-center flex-col ml-0 mt-4"
                >
                  <img src="../../../assets/task.svg" alt="" srcset="" />
                  <button
                    (click)="others()"
                    class="text-white text-center rounded-md mx-0 mt-3 text-sm font-medium"
                  >
                    Tasks
                  </button>
                </div>
                <div
                  class="flex items-center justify-center flex-col ml-0 mt-4"
                >
                  <img src="../../../assets/payment.svg" alt="" srcset="" />
                  <button
                    (click)="others()"
                    class="text-white text-center rounded-md mx-0 mt-3 text-sm font-medium"
                  >
                    Payments
                  </button>
                </div>
                <div
                  class="font-bold flex items-center justify-center ml-0 mt-4 w-full pt-14"
                  (click)="onClick()"
                >
                  <img src="../../../assets/person.svg" class="h-6" alt="" />
                </div>
                <div
                  class="absolute left-14 bottom-28 bg-white rounded-mg w-20 h-24"
                  *ngIf="show"
                >
                  <button class="border w-full h-1/2 bg-white rounded-md">
                    Settings
                  </button>
                  <button
                    (click)="logout()"
                    class="border w-full h-1/2 bg-white rounded-md"
                  >
                    Logout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-span-5"><router-outlet></router-outlet></div>
</div>
